<p id="notice"><%= notice %></p>

<h1>Pstaffs</h1>
 <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Mobile no</th>
      <th>Department</th>
      <th>Address</th>
      <th>Vehical type</th>
      <th>Registration certificate</th>
      <th>Aadhaar card</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pstaffs.each do |pstaff| %>
      <tr>
        <td><%= pstaff.name %></td>
        <td><%= pstaff.gender %></td>
        <td><%= pstaff.mobile_no %></td>
        <td><%= pstaff.department %></td>
        <td><%= pstaff.address %></td>
        <td><%= pstaff.vehical_type %></td>
        <td><%= pstaff.registration_certificate %></td>
        <td><%= pstaff.aadhaar_card %></td>

        <td><%= link_to 'Show', pstaff %></td>
        <% if current_user && current_user.admin %>
           current_user.redirect_to phase1_index_path 
        <td><%= link_to 'Edit', edit_pstaff_path(pstaff) %></td>
        <td><%= link_to 'Destroy', pstaff, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
        <% end %>
      </tr>

    <% end %>
  </tbody>
</table>
<br>
    <% if current_user %>
    <%= link_to "signout" , destroy_user_session_path ,method:     :delete  %>
    <% else %>
    <%= link_to "signin" , new_user_session_path %>
     <%= link_to "signin" , new_user_registration_path %>
     <% end %>
<%= link_to 'New Pstaff', new_pstaff_path %>
