<div class="jumbotron">
     NITK SURATHKAL
</div>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Our Logo</a>
  <%= link_to "home",new_user_session_path %>
  <%= link_to "about",home_about_path %>
  <%= link_to "sign up",new_user_registration_path %>
  <%= link_to "sign in",new_user_session_path %>
  <%= link_to "contect us",home_contect_path %>
  
</nav>
<div class="conntainer">
	 <%= link_to "sign up",new_user_registration_path %>
      <%= link_to "sign in",new_user_session_path %>
     


</div>